<!-- Get month from param -->
<!-- calendar(Date.today + 4.months) do |date|-->

<h2>Calendar - November</h2>

<div id="articles">
  <%= calendar do |date| %>
    <%= date.day %>
    <% if @workshops_by_date[date] %>
      <ul>
        <% @workshops_by_date[date].each do |workshop| %>
          <li><%= link_to truncate(workshop.title, :length => 25), workshop %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>