<!-- Get month from param -->
<!-- calendar(Date.today + 4.months) do |date|-->

<h2>Calendar - <%= Date::MONTHNAMES[Date.today.month] %></h2>

<div id="articles">
  <%= calendar do |date| %>
    <%= date.day %>
  <% end %>
</div>