<h1>Sign up</h1>
<% unless notice %>
  <%= form_for @follower do |f| %>
    Email: <%= f.text_field :email %></br>
    <%= f.submit "Get Updates", class: "btn btn-warning" %>
  <% end %>
<% end %>

<h2>Everyone is a H.E.R.O.</h2>
<span class="byline">Help share the human resource and allow it to be accessed through the H.E.R.O Initiative</span>
<p>Do you have a skill or a particular interest that you would like to share?</p>
<p>Are you willing to conduct (2) or (3) 1.5hr workshops at least every year sharing that skill?</p>
<ul class="actions">
  <li><a href="https://docs.google.com/forms/d/1CCKweW6P0mAyQWjUBitX8lxEprzYGuZJFnutVS_F6fo/viewform" class="button">Sign up here</a></li>
</ul>