<h1>Admin Options</h1>
<ul class="actions">
      <li><a href="/locations/new" class="button">Add Location</a></li>
      <li><a href="/admin/locations" class="button">Edit Location</a></li>

      <br>
      <li><a href="/workshops/new" class="button">Add Workshop</a></li>
      <li><a href="/admin/workshops" class="button">Edit Workshop</a></li>
      <br>
      <li><a href="/workshops/pending" class="button">View Requested Workshops</a></li>
</ul>
<!--<p><a href="/users/profile/<%= current_user.id%>">My Profile</a></p>-->
</form>